* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  color: #333333;
  background-color: #f6f7fb;
}
a {
  color: #444;
  text-decoration: none;
}
.cabecera {
  padding-top: 10px;
  padding-bottom: 10px;
}
.boton1 {
  -webkit-box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  border: 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1em;
  min-height: 98px;
}

.card {
  -webkit-box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.051);
  margin-bottom: 5px;
  border: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.025);
  border-radius: 0.25rem;
}
.card-header {
  background-color: #fff;
  border-bottom: 1px solid #eeeeee;
  padding: 0px 50px;
}
.wrapper-fechas {
  max-width: 94%;
  overflow: hidden;
  margin: 15px auto;
  width: 95%;
}

.list-fechas {
  list-style: none;
  display: flex;
}

.list-fechas a {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  text-align: center;
  vertical-align: middle;
  padding: 10px 20px;
  margin: 0 20px;
  width: 250px;
  flex-shrink: 0;
  height: 100%;
  font-weight: bold;
}

ul.list-fechas li a {
  text-decoration: none;
}

.botonantsig {
  cursor: pointer;
  width: auto;
  padding: 6px 25px;
  font-weight: bold;
  font-size: 36px;
  transition: 0.7s ease;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  user-select: none;
}
.anterior {
  position: absolute;
  top: 25%;
  left: 20px;
}
.siguiente {
  position: absolute;
  top: 20%;
  right: 20px;
}

.loterianacional .boton1 {
  background: url(../images/logos/loteria.svg) center no-repeat;
}

.loterianacional .boton1:hover,
.loterianacional .boton1.router-link-active,
.loterianacional .boton1.router-link-exact-active {
  background: #3378b3 url(../images/logos/loteria-blanco.png) center no-repeat;
}
.resultado-loterianacional .botonantsig:hover,
.resultado-loterianacional .botonfecha:hover,
.resultado-loterianacional .botonfecha.router-link-active {
  background: #3378b3;
  color: #fff;
}
.bonoloto .boton1 {
  background: url(../images/logos/bonoloto.svg) center no-repeat;
}
.bonoloto .boton1:hover,
.bonoloto .boton1.router-link-active,
.bonoloto .boton1.router-link-exact-active {
  background: #7a8634 url(../images/logos/bonoloto-blanco.png) center no-repeat;
}
.primitiva .boton1 {
  background: url(../images/logos/primitiva.svg) center no-repeat;
}
.resultado-bonoloto .botonantsig:hover,
.resultado-bonoloto .botonfecha:hover,
.resultado-bonoloto .botonfecha.router-link-active {
  background: #7a8634;
  color: #fff;
}
.primitiva .boton1:hover,
.primitiva .boton1.router-link-active,
.primitiva .boton1.router-link-exact-active {
  background: #008547 url(../images/logos/primitiva-blanco.png) center no-repeat;
}
.resultado-primitiva .botonantsig:hover,
.resultado-primitiva .botonfecha:hover,
.resultado-primitiva .botonfecha.router-link-active {
  background: #008547;
  color: #fff;
}
.gordoprimitiva .boton1 {
  background: url(../images/logos/gordo.svg) center no-repeat;
}
.gordoprimitiva .boton1:hover,
.gordoprimitiva .boton1.router-link-active,
.gordoprimitiva .boton1.router-link-exact-active {
  background: #dc3f47 url(../images/logos/gordo-blanco.png) center no-repeat;
}
.resultado-gordoprimitiva .botonantsig:hover,
.resultado-gordoprimitiva .botonfecha:hover,
.resultado-gordoprimitiva .botonfecha.router-link-active {
  background: #dc3f47;
  color: #fff;
}
.euromillones .boton1 {
  background: url(../images/logos/euromillones.svg) center no-repeat;
}
.euromillones .boton1:hover,
.euromillones .boton1.router-link-active,
.euromillones .boton1.router-link-exact-active {
  background: #153f69 url(../images/logos/euromillones-blanco.png) center
    no-repeat;
}
.resultado-euromillones .botonantsig:hover,
.resultado-euromillones .botonfecha:hover,
.resultado-euromillones .botonfecha.router-link-active {
  background: #153f69;
  color: #fff;
}
.quiniela .boton1 {
  background: url(../images/logos/quiniela.svg) center no-repeat;
}
.quiniela .boton1:hover,
.quiniela .boton1.router-link-active,
.quiniela .boton1.router-link-exact-active {
  background: #cb1517 url(../images/logos/quiniela-blanco.png) center no-repeat;
}
.resultado-quiniela .botonantsig:hover,
.resultado-quiniela .botonfecha:hover,
.resultado-quiniela .botonfecha.router-link-active {
  background: #cb1517;
  color: #fff;
}
.quinigol .boton1 {
  background: url(../images/logos/quinigol.svg) center no-repeat;
}
.quinigol .boton1:hover,
.quinigol .boton1.router-link-active,
.quinigol .boton1.router-link-exact-active {
  background: #79cfdd url(../images/logos/quinigol-blanco.png) center no-repeat;
}
.resultado-quinigol .botonantsig:hover,
.resultado-quinigol .botonfecha:hover,
.resultado-quinigol .botonfecha.router-link-active {
  background: #79cfdd;
  color: #fff;
}

.lototurf .boton1 {
  background: url(../images/logos/lototurf.svg) center no-repeat;
}
.lototurf .boton1:hover,
.lototurf .boton1.router-link-active,
.lototurf .boton1.router-link-exact-active {
  background: #d16929 url(../images/logos/lototurf-blanco.png) center no-repeat;
}
.resultado-lototurf .botonantsig:hover,
.resultado-lototurf .botonfecha:hover,
.resultado-lototurf .botonfecha.router-link-active {
  background: #d16929;
  color: #fff;
}
.quintupleplus .boton1 {
  background: url(../images/logos/quintuple.svg) center no-repeat;
}
.quintupleplus .boton1:hover,
.quintupleplus .boton1.router-link-active,
.quintupleplus .boton1.router-link-exact-active {
  background: #eab842 url(../images/logos/quintuple-blanco.png) center no-repeat;
}
.resultado-quintupleplus .botonantsig:hover,
.resultado-quintupleplus .botonfecha:hover,
.resultado-quintupleplus .botonfecha.router-link-active {
  background: #eab842;
  color: #fff;
}
#pdfembed {
  border: 1px solid #ccc;
  overflow: auto !important;
  scrollbar-width: auto;
  scrollbar-color: #0a4c95 #c2d2e4;
}
#pdfembed::-webkit-scrollbar {
  width: 55px;
  height: 15px;
}
#pdfembed::-webkit-scrollbar-track-piece {
  background-color: #c2d2e4;
}

#pdfembed::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: #0a4c95;
}
